<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}

rect.bar {
    fill: steelblue;     
}


</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
function add_graphics(){
    var products = document.getElementById("product_box").value,
    location = document.getElementById("location_box").value,
    provider = document.getElementById("provider_box").value,
    per_day = document.getElementById("per_day_box").value;
    
    var criteria = {"products":products, "location":location, "provider":provider, "per_day":per_day};
    
    $.getJSON("/utilization/utilization_data/", criteria, function(utilization_data) {
        var data = JSON.parse(utilization_data);
        console.log(data);
        $(".new-div").remove();
        if (data.platelets.length >0){add_swarm(data.platelets, 3)};
        if (data.RBCs.length >0){add_swarm(data.RBCs, 4)};
    });
}

function add_swarm(data, row){
document.getElementById("body").setAttribute("style", "overflow-y:scroll");                
var new_div = d3.select("#wrapper")
    .append("div")
    .style("grid-column", function(d){return "2/6"})
    .attr("class", "new-div")
var margin = {top:10, right:30, bottom:30, left:40};
var width = 0.7*document.getElementById("wrapper").offsetWidth;
var height = 500 - margin.top - margin.bottom;

var svg = new_div.append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)

var g = svg.append("g")
    .attr("transform", "translate("+margin.left+","+margin.top+")");

var x = d3.scaleLinear()
    .rangeRound([0, width])
    .domain([0, d3.max(data, function(d){return d.value})]);

var histogram = d3.layout.histogram()
    .value(function(d){return d.value;})
    .domain(x.domain())
    .thresholds(30);
    
var bins = histogram(data);
console.log(bins);

var y = d3.scaleLinear()
    .range([height+margin.top, margin.top])
    .domain([1, d3.max(bins, function(d){return d.length;})]);
    
var bar = g.selectAll(".bar")
    .data(bins)
    .enter().append("g")
    .attr("class", "bar")       
    .attr("transform", function(d, i){return "translate("+x(d.x0)+","+y(d.length)+")"});

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(bins[0].x1)-x(bins[0].x0)-1)
    .attr("height", function(d){return height - y(d.length);});
    
g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0,"+height+")")
    .call(d3.axisBottom(x));
g.append("g")
    .call(d3.axisLeft(y))
    .attr("transform", "translate(0,-10)")
;
}
</script>