{% extends 'utilization.html' %}
{% load staticfiles %}

{% block style %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/utilization.css' %}"/>
{% endblock style %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/utilization.js'%}"></script>
{% endblock %}

{% block utilization_content %}
<div class="row">
    <div class="products col-3"><p>
        Products
        </br>
        <select id="product_box">
            <option value="ALL">All Blood Products</option>
            <option value="RED CELLS">Red Blood Cells</option>
            <option value="PLATELETS">Platelets</option>
            <option value="PLASMA">Plasma</option>
            <option value="CRYOPPT">Cryoprecipitate</option>
        </select>
        </p>
    </div>
    <div class="search-box col-3"><p>Location</br><select id="location_box"></select></p></div>
    <div class="search-box col-3"><p>Specialty</br><select id="specialty_box"></select></p></div>
    <div class="search-box col-3"><p>Units On Date</br><input id="per_day_box"></p></div>
</div>

<div class="row">
    <div class="search-box col-3"><p>Start Date</br><input type="date" id="start_date_box"></p></div>
    <div class="search-box col-3"><p>End Date</br><input type="date" id="end_date_box"></p></div>
    <div id="transfusion_dropzone" class="col-3"></div>
    <div class="search-button col-3"><button onclick="add_graphics()">Search</button></div>
</div>
<div id="svg-div" class="row"></div>

{% endblock %}
