{% extends 'base.html' %}
{% load static %}

{% block style %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/utilization.css' %}"/>
{% endblock style %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/utilization.js'%}"></script>
{% endblock %}

{% block content %}
<div id="button-div" class="row">
    <div class="col-2">
        <a href="/" class="btn nav-btn">Home</a>
    </div>
    <div class="col-2">
        <a href="/utilization/units" class="btn nav-btn {% if title == 'Units' %}active{% endif %}">Units</a>
    </div>
    <div class="col-2">
        <a href="/utilization/providers" class="btn nav-btn {% if title == 'Providers' %}active{% endif %}">Providers</a>
    </div>
    <!--<div class="col-2">-->
        <!--<a href="/utilization/specialties" class="btn nav-btn">Specialties</a>-->
    <!--</div>-->
</div>

{% block utilization_content %}
{% endblock %}
{% endblock %}
