{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
#container > div {
  border-radius: 5px;
  padding: 1em;
  display: flex;
  align-items: center;
}
</style>

<div class="row">
  <div class="app col-3">
      <a href="/utilization/units">
      <img class="app-graphic" src="{% static 'utilization.svg' %}"/>
      </a>
  </div>
  <div class="app col-3">
      <a href="/platelets/">
      <img class="app-graphic" src="{% static 'platelets.svg' %}"/>
      </a>
  </div>
  <div class="app col-3">
  </div>
</div>

<div class="row">
  <div class="app col-4"></div>
  <div class="app col-4"></div>
  <div class="app col-4"></div>
</div>

<div class="row">
  <div class="app col-4"></div>
  <div class="app col-4"></div>
  <div class="app col-4"></div>
</div>
{% endblock %}
