
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>        
<script src="https://d3js.org/d3.v4.min.js"></script>

<script>
var labs = d3.select("#labs")

var critical = labs.append("div")
    .attr("class", "dropzone")
    .attr("ID", "outer-dropzone")
var normal = labs.append("div")
    .attr("class", "dropzone")
    .attr("ID", "inner-dropzone")
    
var hemoglobin = critical.append("div")
    .style("background-color", "red")
    .attr("class", "draggable")
    .attr("ID", "hemoglobin")
    .attr("width", 30)
    .attr("height", 30)

var TSH = normal.append("div")
    .style("background-color", "white")
    .attr("class", "draggable")
    .text("TSH");
    
function dragStart(ev) {
 console.log("Drag Start");
 jQuery.ev.props.push('dataTransfer');
 ev.dataTransfer.setData("text/plain", ev.target.IDs)
 ev.dataTransfer.dropEffect = "copy";
}

function dragover_handler(ev) {
 ev.preventDefault();
 ev.dataTransfer.dropEffect = "move"
}
function drop_handler(ev) {
 ev.preventDefault();
 var data = ev.dataTransfer.getData("text");
 ev.target.appendChild(document.getElementById(data));
}

$(".draggable").on("mousedown touchstart", function(event){
    event.preventDefault();
    dragStart(event);
    mouseDown = true;;        
})

$(".draggable").on("mousemove touchmove", function(event) {
  event.preventDefault();
});

$(window.document).on("mouseup touchend", function(event) {
  mouseDown = false;
});
</script>