{% extends 'base.html' %}

{% block content %}
<style>

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(10, 1fr);
  width:82%;
  height: 88%;
  padding-left: 34px;
  margin:auto;
  font-family: "Arial";
}

.long{
    grid-row: 6/11;
    grid-column: 1/7;
    border: 1px solid grey;
}

.labs{
    grid-row: 6/11;
    grid-column: 8/11;
    border: 1px solid grey;
    on-drop: drop(event);       
    display: block;
}

.draggable{
    display: inline-block;
    draggable: true;
    cursor: move;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    padding: 1em 0.5em;
    background-color: #29e;      
}

.draggable > text{
    user-select: none;        
}


</style>
<body id="body">
<div class="wrapper" id="wrapper">

<div id="long" class="long" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"></div>
<div id="labs" class="labs" ondrop="drop_handler(event);" ondragover="dragover_handler(event);"></div>
</div>

</body>
{% include "js_labs1.html" %}
{% endblock %}
